@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --brand: #5b4cff;
  --brand-light: #7c6dff;

  --background: #121212;
  --logo-bg: #0a0a0a;
  --surface: #181818;
  --surface-hover: #1e1e1e;
  --overlay: #222222;

  --border: #1e1e1e;
  --border-subtle: #161616;

  --foreground: #ffffff;
  --muted: #c0c0c0;
  --subtle: #888888;

  --fd-layout-width: 100vw;
}

@theme inline {
  --color-brand: var(--brand);
  --color-brand-light: var(--brand-light);

  --color-background: var(--background);
  --color-logo-bg: var(--logo-bg);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-overlay: var(--overlay);

  --color-border: var(--border);
  --color-border-subtle: var(--border-subtle);

  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-subtle: var(--subtle);
}
